In [24]:
import pandas as pd

In [25]:
df=pd.read_csv("final_1.csv")

In [61]:
df.shape

(21614, 18)

In [62]:
df.head()

,make,price,body_type,mileage,gearbox,fuel_type,seller,power,gears,full_service_history,non_smoker_vehicle,emission_class,upholstery,previous_owner,age,entertainment_media_count,engine_size_cat,comfort_convenience_cat
0,Mercedes Benz,16950,Compact,120200.0,Manual,Diesel,Dealer,75.0,6.0,No,No,Euro 6,Leather,Second Hand,6.0,Standart,Medium,standard
1,Mercedes Benz,46990,Compact,18995.0,Automatic,Benzin,Dealer,225.0,7.0,No,No,Euro 6,Leather,First Hand,2.0,Standart,Medium,standard
2,Mercedes Benz,16800,Compact,197000.0,Automatic,Diesel,Dealer,100.0,7.0,No,No,Euro 6,Leather,Second Hand,7.0,Standart,Medium,standard
3,Mercedes Benz,4690,Compact,165000.0,Manual,Benzin,Dealer,90.0,6.0,Yes,Yes,Other,Cloth,Second Hand,17.0,Standart,Medium,standard
4,Mercedes Benz,22550,Compact,83339.0,Manual,Diesel,Dealer,90.0,7.0,No,No,Euro 6,Cloth,First Hand,4.0,Standart,Medium,luxury

In [63]:
df.drop("make_model",axis=1 ,inplace=True)

KeyError: "['make_model'] not found in axis"

In [64]:
df.drop_duplicates(inplace=True)

In [65]:
df.dropna(inplace=True)

In [66]:
df_dummy = pd.get_dummies(data = df, drop_first=True,dtype=int)

In [67]:
df_dummy

,price,mileage,power,gears,age,make_Fiat,make_Ford,make_Hyundai,make_Mercedes Benz,make_Nissan,...,non_smoker_vehicle_Yes,emission_class_Other,upholstery_Leather,upholstery_Other,previous_owner_Second Hand,entertainment_media_count_Upgrated,engine_size_cat_High,engine_size_cat_Low,engine_size_cat_Medium,comfort_convenience_cat_standard
0,16950,120200.0,75.0,6.0,6.0,0,0,0,1,0,...,0,0,1,0,1,0,0,0,1,1
1,46990,18995.0,225.0,7.0,2.0,0,0,0,1,0,...,0,0,1,0,0,0,0,0,1,1
2,16800,197000.0,100.0,7.0,7.0,0,0,0,1,0,...,0,0,1,0,1,0,0,0,1,1
3,4690,165000.0,90.0,6.0,17.0,0,0,0,1,0,...,1,1,0,0,1,0,0,0,1,1
4,22550,83339.0,90.0,7.0,4.0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21673,4999,166512.0,154.0,5.0,18.0,0,0,0,0,0,...,0,1,1,0,1,0,1,0,0,1
21674,5499,145000.0,125.0,5.0,18.0,0,0,0,0,0,...,0,1,0,0,1,0,1,0,0,1
21675,7300,96000.0,84.0,6.0,11.0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,1
21676,29900,94343.0,187.0,8.0,5.0,0,0,0,0,0,...,0,0,1,0,1,0,0,0,1,1
21677,4440,230047.0,147.0,6.0,20.0,0,0,0,0,0,...,0,1,1,0,1,0,1,0,0,1

In [41]:
df_dummy.to_csv("final_dummy_2.csv",index=False)

In [53]:
df.columns

Index(['make', 'price', 'body_type', 'mileage', 'gearbox', 'fuel_type',
       'seller', 'power', 'gears', 'full_service_history',
       'non_smoker_vehicle', 'emission_class', 'upholstery', 'previous_owner',
       'age', 'entertainment_media_count', 'engine_size_cat',
       'comfort_convenience_cat'],
      dtype='object')

In [68]:
df.isnull().any()

make                         False
price                        False
body_type                    False
mileage                      False
gearbox                      False
fuel_type                    False
seller                       False
power                        False
gears                        False
full_service_history         False
non_smoker_vehicle           False
emission_class               False
upholstery                   False
previous_owner               False
age                          False
entertainment_media_count    False
engine_size_cat              False
comfort_convenience_cat      False
dtype: bool